<%- include('./partials/navbar-general'); %>

<div class="wrapper-detail-transaksi">
  <!-- Header -->
  <div class="header">
    <!-- Title -->
    <div class="header__title">
      <h1 class="header__package-name"><%= data.paket.name_paket %> </h1>
      <h1 class="header__order-code"><%= data.result.id %></h1>
    </div>

    <!-- Button & Label -->
    <div class="header__button-and-label">
      <!-- Button -->
      <div class="header__button">
        <!-- <button class="header__button-service-track">Lacak Layanan</button> -->
        <!-- <input type="date" name="ubahTanggal" id="ubah-tanggal" class="header__choose-date"
          placeholder="Ubah Tanggal" data-input> -->
      </div>
      <!-- Label -->
      <!-- <p class="header__reminder-label">Kamu masih dapat mengubah tanggal hingga 16 Desember 2021</p> -->
    </div>
  </div>

  <!-- Customer & Order Details -->
  <section class="customer-order">

    <!-- Detail Pelanggan -->
    <div class="customer-order__customer-details">
      <button class="customer-order__info">
        <p class="customer-order__item">Detail Pelanggan</p>
        <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
      </button>
      <div class="customer-order__customer-details-description">
        <table>
          <tr>
            <td width="124">Nama</td>
            <td>: </td>
            <td><%= data.fullname %></td>
          </tr>
          <tr>
            <td width="124">Email</td>
            <td>:</td>
            <td><%= data.email %></td>
          </tr>
          <tr>
            <td width="124">Alamat</td>
            <td style="padding-right: 1rem;">:</td>
            <td><%= data.address %></td>
          </tr>
          <tr>
            <td width="124">Nomor HP</td>
            <td>:</td>
            <td><%= data.phoneNumber %></td>
          </tr>
          <tr>
            <td width="124">Tanggal Acara</td>
            <td>:</td>
            <td><%= data.result.tanggal_acara %></td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Detail Pesanan -->
    <div class="customer-order__order-details">
      <button class="customer-order__info">
        <p class="customer-order__item">Detail Pesanan</p>
        <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
      </button>
      <div class="customer-order__order-details-description">
        <div class="customer-order__order-details-item">
          <button class="customer-order__order-details-description-info">
            <p class="customer-order__item"><%= data.paket.Dekorasi.name_dekorasi %></p>
            <p class="customer-order__price"><%= data.paket.Dekorasi.harga_dekorasi %></p>
            <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
          </button>
          <div class="customer-order__order-details-description-item">
            <% data.paket.Dekorasi.keterangan_dekorasi.split(',').forEach((item) => { %>
            <p class="customer-order__description-item-1"><%= item %></p>
            <% }) %>
          </div>
           
        </div>
        <div class="customer-order__order-details-item">
          <button class="customer-order__order-details-description-info">
            <p class="customer-order__item"><%= data.paket.Ria.name_rias %></p>
            <p class="customer-order__price"><%= data.paket.Ria.harga_rias %></p>
            <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
          </button>
          <div class="customer-order__order-details-description-item">
             <% data.paket.Ria.keterangan_rias.split(',').forEach((item) => { %>
            <p class="customer-order__description-item-1"><%= item %></p>
            <% }) %>
          </div>
        <div class="customer-order__order-details-item">
          <button class="customer-order__order-details-description-info">
            <p class="customer-order__item"><%= data.paket.Catering.name_catering %></p>
            <p class="customer-order__price"><%= data.paket.Catering.harga_catering %></p>
            <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
          </button>
          <div class="customer-order__order-details-description-item">
          <% data.paket.Catering.keterangan_catering.split(',').forEach((item) => { %>
            <p class="customer-order__description-item-1"><%= item %></p>
          <% }) %>
          </div>
        </div>
        <div class="customer-order__order-details-item">
          <button class="customer-order__order-details-description-info">
            <p class="customer-order__item"><%= data.paket.Dokumentasi.name_dokumentasi %></p>
            <p class="customer-order__price"><%= data.paket.Dokumentasi.harga_dokumentasi %></p>
            <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
          </button>
          <div class="customer-order__order-details-description-item">
          <% data.paket.Dokumentasi.keterangan_dokumentasi.split(',').forEach((item) => { %>
            <p class="customer-order__description-item-1"><%= item %></p>
          <% }) %>
          </div>
        </div>
        <div class="customer-order__order-details-item">
          <button class="customer-order__order-details-description-info">
            <p class="customer-order__item"><%= data.paket.Entertainment.name_entertainment %></p>
            <p class="customer-order__price"><%= data.paket.Entertainment.harga_entertainment %></p>
            <i class="customer-order__info-logo fa fa-circle-exclamation"></i>
          </button>
          <div class="customer-order__order-details-description-item">
           <% data.paket.Entertainment.keterangan_entertainment.split(',').forEach((item) => { %>
            <p class="customer-order__description-item-1"><%= item %></p>
          <% }) %>
          </div>
        </div>
        <hr class="customer-order__total-price-separator">
        <div class="customer-order__total-price-item">
          <p class="customer-order__item">Total Bayar</p>
          <p class="customer-order__total-price"><%= new Intl.NumberFormat("id-ID", { style: "currency" , currency: "IDR" }).format(data.paket.Dekorasi.harga_dekorasi + data.paket.Catering.harga_catering + data.paket.Ria.harga_rias +
                                    data.paket.Dokumentasi.harga_dokumentasi + data.paket.Entertainment.harga_entertainment) %> </p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Accordion -->
<script >
const info = document.querySelectorAll(".customer-order__info")
const orderDetailsDescriptionInfo = document.querySelectorAll(".customer-order__order-details-description-info")
const customerDetailsdescription = document.querySelectorAll(".customer-order__customer-details-description")
const orderDetailsdescription = document.querySelectorAll(".customer-order__order-details-description")
const descriptionInDescription = document.querySelectorAll(".customer-order__order-details-description-item")

info.forEach((btn) => {
  btn.addEventListener("click", () => {
    const panel = btn.nextElementSibling
    panel.classList.toggle("active")
    btn.classList.toggle("active")
  })
})

orderDetailsDescriptionInfo.forEach((btn) => {
  btn.addEventListener("click", () => {
    const panel = btn.nextElementSibling
    panel.classList.toggle("active")
    btn.classList.toggle("active")
  })
})
</script>
<!-- Flatpickr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.js"></script>
<script>
  $("#ubah-tanggal").flatpickr({
    enableTime: true,
    dateFormat: "F, d Y - H:i"
  });
</script>

<%- include('./partials/footer'); %>