<%- include('./partials/navbar-general'); %>

    <section class="order-filler"></section>
    <section class="order">
        <h3>Paket <%= paket.name_paket %>
        </h3>
        <p><%= paket.ket_paket %> </p>
        <div class="order__box">
            <div class="box-options" id="active-left">
                <div class="detail-paket">
                    <h3>Detail Paket</h3>
                </div>
                <!-- <div class="kustomisasi">
                <p>Kustomisasi</p>
            </div> -->
            </div>

            <!-- SECTION DETAIL PAKET -->
            <div class="box-detail-paket">
                <div class="detail-paket-deskripsi">
                    <h4>Deskripsi Paket</h4>
                    <p><%= paket.des_paket %> </p>
                </div>
                <div class="detail-paket-galeri">
                    <h4>Galeri Paket</h4>
                    <div class="galeri-gambar">
                        <div class="container-fluid">
                            <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
                                <div class="carousel-inner w-100 mx-auto" role="listbox">
                                    <% for( let i = 0; i < 1; i++ ) { %>
                                        <div class="carousel-item col-md-3 active">
                                            <img class="img-fluid mx-auto d-block" src="<%= image[0] %> " alt="slide 2">
                                        </div>
                                    <% } %>
                                    <% for( let i = 1; i < image.length; i++ ) { %>                                    
                                        <div class="carousel-item col-md-3">
                                            <img class="img-fluid mx-auto d-block" src="<%= image[i] %> " alt="slide <%= i %> ">
                                        </div>
                                    <% } %>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExample" role="button"
                                    data-slide="prev">
                                    <i class="fa fa-chevron-left fa-lg text-muted"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next text-faded" href="#carouselExample" role="button"
                                    data-slide="next">
                                    <i class="fa fa-chevron-right fa-lg text-muted"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-paket-keterangan">
                    <h4>Detail Paket</h4>
                </div>
                <% const total=dekorasi.harga_dekorasi + catering.harga_catering + rias.harga_rias +
                    dokumentasi.harga_dokumentasi + entertainment.harga_entertainment; function toRupiah(price) { return
                    new Intl.NumberFormat("id-ID", { style: "currency" , currency: "IDR" }).format(price); } %>
                    <div class="detail-paket-choices">
                        <div class="dekorasi info">
                            <div class="info-keterangan">
                                <h4>Dekorasi <%= dekorasi.name_dekorasi %>
                                </h4>
                                <div class="sect">
                                    <h4>
                                        <%= new Intl.NumberFormat("id-ID", { style: "currency" , currency: "IDR" }).format(dekorasi.harga_dekorasi) %> 
                                    </h4>
                                    <img src="/img/info.svg">
                                </div>
                            </div>
                            <div class="paket-detail paket-detail-dekorasi">
                                <ul>
                                    <% dekorasi.keterangan_dekorasi.split(',').forEach(element=> { %>
                                        <li>
                                            <%= element %>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                        </div>
                        <div class="rias info">
                            <div class="info-keterangan">
                                <h4>Rias <%= rias.name_rias %>
                                </h4>
                                <div class="sect">
                                    <h4>
                                        <%= new Intl.NumberFormat("id-ID", { style: "currency" , currency: "IDR" }).format(rias.harga_rias) %> 
                                    </h4>
                                    <img src="/img/info.svg">
                                </div>
                            </div>
                            <div class="paket-detail paket-detail-rias">
                                <ul>
                                    <% rias.keterangan_rias.split(',').forEach(element=> { %>
                                        <li>
                                            <%= element %>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                        </div>
                        <div class="katering info">
                            <div class="info-keterangan">
                                <h4>Katering <%= catering.name_catering %>
                                </h4>
                                <div class="sect">
                                    <h4>
                                        <%= new Intl.NumberFormat("id-ID", { style: "currency" , currency: "IDR" }).format(catering.harga_catering) %> 
                                    </h4>
                                    <img src="/img/info.svg">
                                </div>
                            </div>
                            <div class="paket-detail paket-detail-katering">
                                <ul>
                                    <% catering.keterangan_catering.split(',').forEach(element=> { %>
                                        <li>
                                            <%= element %>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                        </div>
                        <div class="documentation info">
                            <div class="info-keterangan">
                                <h4>Dokumentasi <%= dokumentasi.name_dokumentasi %>
                                </h4>
                                <div class="sect">
                                    <h4>
                                        <%= new Intl.NumberFormat("id-ID", { style: "currency" , currency: "IDR" }).format(dokumentasi.harga_dokumentasi) %> 
                                    </h4>
                                    <img src="/img/info.svg">
                                </div>
                            </div>
                            <div class="paket-detail paket-detail-documentation">
                                <ul>
                                    <% dokumentasi.keterangan_dokumentasi.split(',').forEach(element=> { %>
                                        <li>
                                            <%= element %>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                        </div>
                        <div class="hiburan info">
                            <div class="info-keterangan">
                                <h4>Entertainment <%= entertainment.name_entertainment %>
                                </h4>
                                <div class="sect">
                                    <h4>
                                        <%= new Intl.NumberFormat("id-ID", { style: "currency" , currency: "IDR" }).format(entertainment.harga_entertainment) %> 
                                    </h4>
                                    <img src="/img/info.svg">
                                </div>
                            </div>
                            <div class="paket-detail paket-detail-hiburan">
                                <ul>
                                    <% entertainment.keterangan_entertainment.split(',').forEach(element=> { %>
                                        <li>
                                            <%= element %>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                        </div>
                        <div class="note info">
                            <div class="info-keterangan">
                                <h4>Note</h4>
                            </div>
                            <textarea id="noteOrder" name="noteOrder" placeholder=""> </textarea>
                        </div>
                    </div>

                    <div class="detail-paket-right">
                        <div class="detail-paket-biaya">
                            <h4>Total Bayar</h4>
                            <div class="sect">
                                <h4>
                                    <%= new Intl.NumberFormat("id-ID", { style: "currency" , currency: "IDR" }).format(dekorasi.harga_dekorasi + catering.harga_catering + rias.harga_rias +
                                    dokumentasi.harga_dokumentasi + entertainment.harga_entertainment) %> 
                                </h4>
                            </div>
                        </div>
                        <div class="kustom-pesan">
                            <button class="btn-kustomisasi" id="btnKustomisasi"><a
                                    href="https://wa.me/6282267263157">Kustomisasi</a></button>
                            <button class="btn-pesan" id="btnPesan" type="submit"><a href="#">Pesan
                                    sekarang</a></button>
                        </div>
                    </div>
                    <p class="help">Butuh bantuan? <span>Hubungi kami</span></p>
            </div>
    </section>

    <%- include('./partials/footer'); %>