<%- include('./partials/navbar-general'); %>
<!-- HERO SECTION -->
<section class="wedding-filler"></section>
<% dataCategory.forEach(e => { %>
<section class="herowed" style="background-image: url('<%= e.img_carousel %>')">
  <div class="herowed__text">
    <h1><%= e.judul_category %></h1>
    <p id="herowed__p"><%= e.ket_category %></p>
  </div>
  <div class="herowed__img">
    <img src="<%= e.img_carousels %> " alt="hero2" />
  </div>
</section>
<% }) %>

<!-- SERVICES SECTION-->
<div class="wrapperwed">
  <section class="servicewed">
    <h1 class="servicewed__title">Spesialisasi Layanan</h1>
    <p class="servicewed__subtitle">- Full D-Day Service -</p>
  </section>
</div>

<!--ITEM ICON SECTION-->
<div class="greywed">
  <div class="wrapperwed">
    <section class="itemwed">
      <% for( let i = 0; i < result_layanan[0].length; i++ ) { %>
      <div class="itemwed__box">
        <img class="itemwed__image" src="<%= result_iconlayanan[0][i] %>" />
        <p class="itemwed__text"><%= result_layanan[0][i] %></p>
      </div>
      <% } %>
      <!-- <div class="itemwed__box">
        <img class="itemwed__image" src="./assets/img/wed_icon-2.svg" />
        <p class="itemwed__text">Pembuatan rundown acara dari pembukaan hingga penutup.</p>
      </div>
      <div class="itemwed__box">
        <img class="itemwed__image" src="./assets/img/wed_icon-3.svg" />
        <p class="itemwed__text">Technical meeting secara berkala dengan vendor.</p>
      </div>
      <div class="itemwed__box">
        <img class="itemwed__image" src="./assets/img/wed_icon-4.svg" />
        <p class="itemwed__text">Pendamping keseluruhan vendor - vendor acara</p>
      </div>
      <div class="itemwed__box">
        <img class="itemwed__image" src="./assets/img/wed_icon-5.svg" />
        <p class="itemwed__text">Mengatur teknikal meeting dengan pihak keluarga</p>
      </div>
      <div class="itemwed__box">
        <img class="itemwed__image" src="./assets/img/wed_icon-6.svg" />
        <p class="itemwed__text">Mengorganisir jalannya acara pernikahan</p>
      </div>
      <div class="itemwed__box">
        <img class="itemwed__image" src="./assets/img/wed_icon-7.svg" />
        <p class="itemwed__text">Mengatur jadwal penjemputan pengantin pria ke wanita</p>
      </div>
      <div class="itemwed__box">
        <img class="itemwed__image" src="./assets/img/wed_icon-8.svg" />
        <p class="itemwed__text">Morning call di pagi hari kepada pengantin</p>
      </div>
      <div class="itemwed__box">
        <img class="itemwed__image" src="./assets/img/wed_icon-9.svg" />
        <p class="itemwed__text">Menyimpan dan mengirimkan hantaran, kado, dan mahar</p>
      </div> -->
    </section>
  </div>
</div>

<!--SERVICE SECTION-->
<section class="servicewed">
  <% dataCategory.forEach(e => { %>
  <h1 class="servicewed__title">Paket <%= e.name %></h1>
  <% }) %>
</section>

<!-- CARD WEDDING SECTION -->
<div class="wrapperwed">
  <section class="wedding">
    <div class="wedding__flex">
      <% data.forEach(e => { %>
      <div class="wedding__card">
        <img class="wedding__image" src="<%= e.img_url %> " alt="bronze" />
        <div class="wedding__content">
          <div class="wedding__box1">
            <div class="wedding__title"><%= e.name_paket %></div>
            <div class="wedding__star">★★★★★</div>
          </div>
          <div class="wedding__box2"><%= e.ket_paket %></div>
          <div class="wedding__box3">
            <div class="wedding__price"><%= new Intl.NumberFormat("id-ID", { style: "currency", currency: "IDR" }).format(e.harga_paket) %></div>
            <a class="wedding__button" href="/detail/<%= e.id %>">Pesan</a>
          </div>
        </div>
      </div>
      <% }) %>
      <!-- <div class="wedding__card">
        <img class="wedding__image" src="./img/wed_card2.png" alt="bronze" />
        <div class="wedding__content">
          <div class="wedding__box1">
            <div class="wedding__title">Luxury Gold</div>
            <div class="wedding__star">★★★★★</div>
          </div>
          <div class="wedding__box2">Paket pernikahan spesial dengan konsep bermutu tinggi dan meninggalkan kesan terbaik.</div>
          <div class="wedding__box3">
            <div class="wedding__price">Rp. 110.000.000</div>
            <div class="wedding__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
      <div class="wedding__card">
        <img class="wedding__image" src="./img/wed_card3.png" alt="bronze" />
        <div class="wedding__content">
          <div class="wedding__box1">
            <div class="wedding__title">Sprinkle Silver</div>
            <div class="wedding__star">★★★★★</div>
          </div>
          <div class="wedding__box2">Paket pernikahan lengkap untuk pernikahan istimewa dan berharga.</div>
          <div class="wedding__box3">
            <div class="wedding__price">Rp. 95.000.000</div>
            <div class="wedding__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div>
      <div class="wedding__card">
        <img class="wedding__image" src="./img/wed_card4.png" alt="bronze" />
        <div class="wedding__content">
          <div class="wedding__box1">
            <div class="wedding__title">Nova Bronze</div>
            <div class="wedding__star">★★★★★</div>
          </div>
          <div class="wedding__box2">Paket pernikahan standar dengan konsep simpel dan efisien tanpa menghilangkan esensi sakral pernikahan.</div>
          <div class="wedding__box3">
            <div class="wedding__price">Rp. 80.000.000</div>
            <div class="wedding__button"><a href="#">Pesan</a></div>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</div>
<%- include('./partials/footer'); %>
