<<<<<<< HEAD
<%- include('./partials/navbar-general'); %>
=======
<%- include('./partials/navbar-home'); %>

>>>>>>> 10d41b6476ad8b93594127cd856b92a87ebe45b7
<div class="wrapper">
  <h1 class="title">Riwayat Saya</h1>
  <% orders.forEach((order) => { %>
  <div class="history-card">
    <img class="history-card__img" src= <%= order.img_url %>  />
    <div class="history-card__text">
      <h1 class="history-card__order-code"><%= order.id %></h1>
      <h1 class="history-card__package-title"><%= order.name_order %></h1>
      <p class="history-card__total">
        Total Bayar : <b>Rp.<%= order.total_harga %></b>
      </p>
      <p class="history-card__event-date">
        Tanggal Acara : <b><%= order.tanggal_acara %></b>
      </p>
    </div>
    <button class="history-card__button" onclick="detail(this)">Detail</button>
  </div>
  <% }); %>
</div>
<script>
  function detail(e) {
    var id = e.parentElement.children[0].innerHTML;
    window.location.href = './riwayat-pemesanan-detail.html?id=' + id;
  }
</script>
<%- include('./partials/footer'); %>
