<%- include('./partials/navbar-general'); %>
<div class="wrapper">
  <h1 class="title">Riwayat Saya</h1>
  <% orders.forEach((order) => { %>
  <div class="history-card">
    <img class="history-card__img" src= <%= order.img_url %>  />
    <div class="history-card__text">
      <h1 class="history-card__order-code"><%= order.id %></h1>
      <h1 class="history-card__package-title"><%= order.name_order %></h1>
      <p class="history-card__total">
        Total Bayar : <b>Rp.<%= order.total_harga %></b>
      </p>
      <p class="history-card__event-date">
        Tanggal Acara : <b><%= order.tanggal_acara %></b>
      </p>
    </div>
    <a class="history-card__button" href="/orders/detail-riwayat/<%= order.id %> ">
    <button class="history-card__button">Detail</button>
    </a>
  </div>
  <% }); %>
</div>
<script>
</script>
<%- include('./partials/footer'); %>
