<%- include('../../admin/partials/header.ejs') %>

<!-- Page Wrapper -->
<div id="wrapper">

  <%- include('../../admin/partials/sidebar.ejs') %>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <%- include('../../admin/partials/navbar.ejs') %>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Paket</h1>
        <!-- End Heading -->

        <!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <!-- Button trigger modal -->
      <a href="/admin/paket/create"  class="btn btn-primary" >
        <i class="fas fa-plus"></i>
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Gambar</th>
              <th>Judul Kategori</th>
              <th>Harga</th>
              <th>Dekorasi</th>
              <th>Catering</th>
              <th>Rias</th>
              <th>Dokumentasi</th>
              <th>Entertainment</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < paket.length; i++){ %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= paket[i].name_paket ?paket[i].name_paket:" kosong" %></td>
              <td>
                <img src="<%= paket[i].img_url %>" alt="imageUrl" width="70px">
              </td>
              <td><%= paket[i].Category.name ?paket[i].Category.name:" kosong" %></td>
              <td><%= paket[i].harga_paket ?paket[i].harga_paket :" kosong "%></td>
              <td><%= paket[i].Dekorasi.name_dekorasi ?paket[i].Dekorasi.name_dekorasi:" kosong "%></td>
              <td><%= paket[i].Catering.name_catering %></td>
              <td><%= paket[i].Ria.name_rias %></td>
              <td><%= paket[i].Dokumentasi.name_dokumentasi %></td>
              <td><%= paket[i].Entertainment.name_entertainment %></td>
            
              <td>
                <form action="/admin/paket/<%= paket[i].id %>?_method=DELETE" method="POST">
                  <a href="/admin/paket/<%= paket[i].id %>/edit" type="button" class="btn btn-warning btn-circle btn-sm button-update"
                    data-id="<%= paket[i].id %>" data-name="<%= paket[i].name_paket %> "  ><i class="fas fa-edit"></i></a>
                  <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></button>
                </form>
              </td>

            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <%- include('../../admin/partials/footer.ejs') %>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>



<%- include('../../admin/partials/js.ejs') %>




<script>
  $('#dataTable').on('click', '.button-update', function () {
    let id = $(this).data('id');
    let name = $(this).data('name');

    $('#edit-modal').modal('show');
    $('.id').val(id);
    $('.name').val(name);
   

  })
</script>
